<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="logo">
                <img id="logo" class="logo"></img>
            </div>
        </header>

        <main>
            <form onsubmit="return Client.handleSubmit(event)">
                <input id="textInput" type="text" name="input" value="" placeholder="Enter text / URL here">
                <input class="clearButton" type="submit" name="" value="Clear" onclick="return Client.handleClear(event)" onsubmit="return Client.handleClear(event)">
                <label for="url"><input id="url" type="checkbox">  This is a URL</label>
                <input class="customButton" type="submit" name="" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
            </form>

            <div id="resultSection">
                <strong class="big resultHeader">Form Results</strong>
                <div id="displayBox">
                    <div id="results">
                        <strong class="resultLabel">Classifications</strong>
                        <div id="text"><span style="font-weight:bold">Text/URL:</span></div>
                        <div id="language"><span style="font-weight:bold">Language:</span></div>
                        <strong id="categories"><span style="font-weight:bold">Categories:</span></strong>
                        <div id="categoryList"></div>
                    </div>
                    <div id="results">
                        <strong class="resultLabel">Sentiments</strong>
                        <div id="polarity"><span style="font-weight:bold">Polarity: </span></div>
                        <div id="subjectivity"><span style="font-weight:bold">Subjectivity: </span></div>
                        <div id="whiteBox"><canvas id="faceUI" width="300" height="300"></canvas></div>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <p>© 2020 Skhan Productions </p>
        </footer>

    </body>
</html>
