<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="logo">
                <img id="logo" class="logo"></img>
            </div>
        </header>

        <main>
            <section>
                <form onsubmit="return Client.handleSubmit(event)">
                    <input id="textInput" type="text" name="input" value="" placeholder="Enter text / URL here">
                    <input class="clearButton" type="submit" name="" value="Clear" onclick="return Client.handleClear(event)" onsubmit="return Client.handleClear(event)">
                    <label for="url"><input id="url" type="checkbox">  This is a URL</label>
                    <input class="customButton" type="submit" name="" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong class="big resultHeader">Form Results</strong>
                <div id="displayBox">
                    <div id="results">
                        <strong class="resultHeader">Classifications</strong>
                        <div id="text">Text:</div>
                        <div id="language">Language:</div>
                        <div id="categories">Categories:</div>
                    </div>
                    <div id="results">
                        <strong class="resultHeader">Sentiments</strong>
                        <div id="polarity">Polarity: </div>
                        <div id="subjectivity">Subjectivity: </div>
                        <div id="whiteBox"><canvas id="faceUI" width="300" height="300"></canvas></div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <p>© 2020 Skhan Productions </p>
        </footer>

    </body>
</html>
