<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form onsubmit="return Client.handleSubmit(event)">
                    <p>Please select source type:</p>
                    <label for="text"><input id="text" type="radio" name="text-url" value="text">Text</label>
                    <label for="url"><input id="url" type="radio" name="text-url" value="url">URL</label>
                    <input id="input" type="text" name="input" value="" onblur="onBlur()" placeholder="Enter text / URL here">
                    <input type="submit" name="" value="Clear" onclick="return Client.handleClear(event)" onsubmit="return Client.handleClear(event)">
                    <input type="submit" name="" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <div id="text">Text</div>
                    <div id="language">Language</div>
                    <div id="categories">Categories</div>
                </div>
            </section>

            <section>
                <strong>Sentiments:</strong>
                <canvas id="faceUI" width="300" height="300"></canvas>
            </section>
        </main>

        <footer>
            <p>© 2020 Skhan Productions </p>
        </footer>

    </body>
</html>
